* {
    box-sizing: border-box;
    --prime-color :#16213E;
    --second-color : #0F3460;
    --prime-text-color :#FFC23C;
    --second-text-color :#E94560;

    
}

body {
    background-color: #f6f5f5;


/* Nav */

}
ul {
    list-style: none;

}
a {
    text-decoration: none;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: var(--prime-color);
    box-shadow: 2px 2px 12px rgba(255, 255, 255, 0.727);
    padding: 0px 5%;
}

nav ul {
    display: flex;
}
nav ul li a {
    margin: 30px;
    font-family: 'Prompt', sans-serif;
    font-weight:bold;
    color: var(--prime-text-color);
    font-size: 15px;
}

.logo {
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    font-size:22px;
    color: var(--second-text-color);
}
    
    /* Hero */

    section {
        width: 100%;
        height: 100vh;
        background-image: url(/MyOwnWebsite/assets/imgs/bg2_1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

.text-container p:nth-child(1) {
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    color: var(--prime-text-color);
    font-size: 22px;
    
}
.text-container p:nth-child(2) {
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    color: var(--second-text-color);
    font-size: 60px;
}

.text-container p:nth-child(3) {
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    color: var(--prime-text-color);
    font-size: 30px;
    /* line-height: 30px; */

}
.text-container {
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%,-42%);
}
.text-container button {
    width: 130px;
    height: 42px; 
    border-color: var(--prime-text-color);
    border-radius: 10px;
    background-color: var(--prime-color);
    outline: none;
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: var(--second-text-color);
    margin: 0px 10px;
}
button:active {
    scale: (1.1);
}

/* About */
.full-container {
    width: 100%;
    height: 100vh;
    background-color: var(--prime-color);
    background-image: url(/MyOwnWebsite/assets/imgs/bg3_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top top;
    display: flex;
    flex-direction: column;
    /* align-content: space-between; */
    gap: 50px;

}
.about-container {
    width: 80%;
    height: 50vh;
    /* height: 330px; */
    background-color: var(--prime-color);
    background-image: url(/MyOwnWebsite/assets/imgs/bg3_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(255, 255, 255, 0.727);
    display: flex;
    margin: -1% auto 20px auto;
    position: relative;
    align-items: center;
    justify-content: space-evenly;

}
.about-text {
    width: 550px;
}

.about-text p:nth-child(1) {
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    color: var(--second-text-color);
    font-size: 35px;
    
}
.about-text p:nth-child(2) {
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    color: var(--prime-text-color);
    font-size: 25px;
    
}
.about-text p:nth-child(3) {
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 15px;
    
}
.about-text p:nth-child(4) {
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 15px;
    
}

/* Skils */
.skills-container {
    width: 80%;
    height: 50vh;
    background-color: var(--prime-color);
    background-image: url(/MyOwnWebsite/assets/imgs/bg3_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    /* border-radius: 20px; */
    box-shadow: 2px 2px 12px rgba(255, 255, 255, 0.727);
    margin: -1% auto 20px auto;
    position: relative;
    display: flex;
    align-items:center;
    justify-content: space-between;
    gap: 15px;

}

.box-1,.box-2,.box-3,.box-4,.box-5 {
    width: 100%;
    height: 100%;
    background-color: var(--second-color);
    background-image: url(/MyOwnWebsite/assets/imgs/bg2-r.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top top;
    box-shadow: 2px 2px 12px rgba(255, 255, 255, 0.727);
    /* border-radius: 60%; */
    padding: 25px;
}

.flip-box-back img {
    width: 100%;
    height: 100%;
}

.skills-container p {
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    color: var(--prime-text-color);
    font-size: 45px;
    text-align: center;
}

/* .box-1:hover,.box-2:hover,.box-3:hover,.box-4:hover,.box-5:hover {
    transition: transform 0.8s;
    transform-style: preserve-3d;
    transform: rotateX(180deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
} */



/* Media qureies  */
@media (max-width:1000px) {
  nav {
    /* overflow-x: hidden; */
    flex-direction: column;
    justify-content:center;
    align-content:center;
    font-size: 5px;
    
  }

nav ul li a {
    margin: 0.5rem;
    
}
.full-container {
    height: 100%;
    width: 100%;

}
    .skills-container {
        height: 100vh;
        width: 60%;
        flex-direction: column;
        align-items: center;
        margin: 2% 15%;
        padding: 0px;
        position: relative;
        background-image: none;
        background-color: rgba(255, 255, 255, 0);
        border: none;
        box-shadow: none;
    }

    .box-1,.box-2,.box-3,.box-4,.box-5 {
        /* position: absolute; */
        height: 100%;
        width: 100%;

}

}




/* animation : */

/* flip box */

.flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateX(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-box-back {
    /* background-color: dodgerblue; */
    color: white;
    transform: rotateX(180deg);
  }

